@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .adjust-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}




* {
  @apply focus:outline-none;
}

html {
  scroll-behavior: smooth;
  @apply text-[62.5%] tab-land:text-[56.25%] tab-port:text-[50%] big-desktop:text-[75%];
}


body {
  box-sizing: border-box;
  padding: 3rem;
  @apply font-lato;
}
