@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');
@import url('./icon-font.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .adjust-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .phone-hero-clip-path {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
  }
  .desktop-hero-clip-path {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    height: 95vh;
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(5rem);
    }

    80% {
      transform: translateX(-1rem);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }

    80% {
      transform: translateX(1rem);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(10rem);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  .u-margin-bottom-big {
    @apply mb-32;
    @apply tab-port:mb-20;
  }

  .u-margin-bottom-medium {
    @apply mb-16;
    @apply tab-port:mb-12;
  }

  .u-margin-bottom-small {
    @apply mb-6;
  }

  .u-margin-top-huge {
    @apply mt-40;
  }

  .u-margin-top-big {
    @apply mt-32;
  }

  .u-margin-top-medium {
    @apply mt-16;
    @apply tab-land:mt-12;
  }

  .u-margin-top-small {
    @apply mt-6;
  }
}

@layer components {
  .heading-primary {
    color: theme(colors.white);
    backface-visibility: hidden;
    @apply uppercase mb-24;
  }
  .heading-primary__main {
    @apply block text-[6rem] font-[400] tracking-[3.5rem] animate-[moveInLeft_1s_ease-out] phone:tracking-[1rem] phone:text-[5rem];
  }

  .heading-primary__sub {
    @apply block text-[2rem] font-[700] tracking-[1.75rem] animate-[moveInRight_1s_ease-out] phone:tracking-[.5rem];
  }

  .heading-secondary {
    @apply text-[3.5rem] uppercase font-bold inline-block tracking-[.2rem] transition-all duration-200 text-transparent;
    @apply tab-port:text-[3rem] phone:text-[2.5rem];
    background-clip: text;
    background-image: linear-gradient(to right, theme('colors.primary-light'), theme('colors.primary-dark'));
  }

  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(theme('colors.black'), 0.2);
  }

  .heading-tertiary {
    @apply text-default-size font-bold uppercase;
  }

  .paragraph {
    @apply text-default-size [&:not(:last-child)]:mb-12;
  }


  .row {
    @apply max-w-grid-width mx-auto;
  }
}

html {
  scroll-behavior: smooth;
  @apply text-[62.5%] tab-land:text-[56.25%] tab-port:text-[50%] big-desktop:text-[75%];
}

body {
  box-sizing: border-box;
  @apply font-lato text-grey-dark-1 leading-[1.7] font-[400] p-[3rem] tab-port:p-0;
}
