// COLORS

$color-primary: #4ade80;           // Soft emerald green
$color-primary-light: #86efac;     // Light mint green
$color-primary-dark: #16a34a;      // Rich forest green

$color-secondary-light: #facc15;   // Warm golden yellow
$color-secondary-dark: #ea580c;    // Vibrant orange rust

$color-tertiary-light: #60a5fa;    // Calming sky blue
$color-tertiary-dark: #4f46e5;     // Deep indigo blue

$color-grey-light-1: #f9fafb;      // Off-white
$color-grey-light-2: #e5e7eb;      // Light cool grey

$color-grey-dark: #6b7280;         // Neutral grey
$color-grey-dark-2: #4b5563;       // Slate grey
$color-grey-dark-3: #1f2937;       // Charcoal grey

$color-white: #ffffff;             // True white
$color-black: #000000;             // True black

//FONT

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;