.header {
  height: 85vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  position: relative;


  @supports (clip-path: polygon(0 0)) or (-webkit-clip-paty: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    height: 95vh;
  }




  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
  }

}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8));
}

.logoBox {
  position: absolute;
  aspect-ratio: 195/100;
  height: 3.5rem;
  top: 4rem;
  left: 4rem;

  &:hover {
    animation: moveInRight 1s ease-in 0.5;
  }
}

.logo {
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
}

.textBox {
  @include center-horizontally-vertically;
  top: 40%;
  text-align: center;
}