<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Natours</title>
  <link href="/css/output.css" rel="stylesheet">
</head>

<body class="">
  <main>
    <h1 class="p-4 text-3xl font-light text-center text-gray-800">
      <%= message %>
    </h1>
  </main>
</body>

</html>