
.navigationButton {
  @apply bg-white h-[7rem] w-[7rem] fixed z-20 rounded-full shadow-[0_1rem_3rem] shadow-black/10 text-center cursor-pointer top-24 right-24;
  @apply tab-port:right-6 tab-port:top-6;
}

.navigationBackground {
  @apply h-[6rem] w-[6rem] rounded-full fixed top-[6.5rem] right-[6.5rem] z-10;
  background-image: radial-gradient(theme('colors.primary-light'), theme('colors.primary-dark'));
  transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);
  @apply tab-port:top-[4.5rem] tab-port:right-[4.5rem];
  @apply phone:top-[3.5rem] phone:right-[3.5rem];
}

.navigationNav {
  @apply h-screen w-0 fixed top-0 right-0 z-[15] opacity-0;
  transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigationList {
  @apply text-center list-none w-full adjust-center;
  list-style: none;
}

.navigationItem {
  @apply m-4 w-full;
}

.navigationLink, .navigationLink:link, .navigationLink:visited {
  @apply inline-block text-[3rem] font-[300] py-4 px-8 text-white decoration-transparent uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, theme('colors.white') 50%);
  background-size: 220%;
  transition: all 0.4s;
  text-decoration: none;
}

.navigationLink:hover, .navigationLink:active {
  @apply text-primary translate-x-4;
  background-position: 100%;
}

.navigationLink span {
  @apply mr-[1.5rem] inline-block;
}

.navigationCheckbox {
  @apply hidden;
}
.navigationCheckbox:checked ~ .navigationBackground {
  @apply scale-[80];
}

.navigationCheckbox:checked ~ .navigationNav {
  @apply h-screen w-full opacity-100;
}

.navigationIcon {
  @apply relative mt-[3.5rem] transition-all duration-[0.2s] w-[3rem] h-[2px] bg-grey-dark-3 inline-block;
  @apply before:w-[3rem] before:h-[2px] before:content-[""] before:absolute before:left-0 before:top-[-.8rem] before:inline-block before:bg-grey-dark-3;

  @apply after:w-[3rem] after:h-[2px] after:content-[""] after:absolute after:left-0 after:top-[.8rem] after:inline-block after:bg-grey-dark-3;
}

.navigationButton:hover .navigationIcon {
  @apply before:translate-y-[-.2rem];
  @apply after:translate-y-[.2rem];
}

.navigationCheckbox:checked + .navigationButton .navigationIcon {
  @apply bg-transparent;
  @apply before:rotate-[135deg] before:top-0;
  @apply after:rotate-[-135deg] after:top-0;
}

