# Cloudinary config
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_ASSET_FOLDER=

# Mail Config

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=

# Paystack config

PAYSTACK_BASE_URL=
PAYSTACK_SECRET_KEY=

# Redis config

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=redis_password
REDIS_URL=

# Stripe configuration

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Miscellaneous config

NODE_ENV=development # production | test | development
PORT=4100
APP_NAME=Natours
MONGODB_URL=mongodb://localhost:27017/natours
COOKIE_EXPIRY=1d # StringValue from hhttps://github.com/vercel/ms/blob/master/src/index.ts
JWT_EXPIRY=1d    # StringValue from hhttps://github.com/vercel/ms/blob/master/src/index.ts
JWT_SECRET=myrandomesecrete
CLIENT_EMAIL_CONFIRM_URL=
CLIENT_BASE_URL=
CLIENT_RESET_PASSWORD_URL=
